{
  "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended",
      "plugin:jest/recommended"
    ],
    "plugins": ["jest"],
    "rules": {
      "no-var": "error",
      "no-empty": "error",
      "block-scoped-var": "error",
      "eqeqeq": "error",
      "no-alert": "error",
      "no-eval": "error",
      "no-empty-function": "error",
      "semi": ["error", "never"],
      "arrow-spacing": "error",
      "quotes": ["error", "single"],
      "no-trailing-spaces": "error",
      "comma-dangle": [
        "error",
        {
          "arrays": "always-multiline",
          "objects": "always-multiline",
          "imports": "always-multiline",
          "exports": "always-multiline",
          "functions": "only-multiline"
        }
      ],
      "keyword-spacing": [
        "error",
        {
          "after": true,
          "before": true
        }
      ],
      "space-before-function-paren": [
        "error",
        {
          "anonymous": "always",
          "named": "never",
          "asyncArrow": "always"
        }
      ],
      "max-len": ["error", { "code": 120 }],
      // "complexity": ["warn", 8],
      "no-prototype-builtins": "off",
      "prettier/prettier": "warn"
    },
    "parser": "@babel/eslint-parser",
    "globals": {
      "module": true,
      "exports": true
    },
    "env": {
      "jest/globals": true
    }
  }